<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dihfuiehiu</title>
</head>
<body>
    <form method="get"  action="/listing/new">
         <button type="submit">Create Listing</button>
    </form>
    <ul>
        <% for(listing of allListing){ %>
         <li><a href="/listing/<%= listing.id %>"> <%= listing.title %> </a></li>
       <%  } %>
    </ul>
</body>
</html>